/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    color: #333333;
}

/* Header */
h1 {
    margin: 20px 0 0 0;
    padding: 5px 0;
    border-bottom: 2px solid #888;
}

h1 a {
    color: inherit;
    padding: 5px 10px;
}

h1 a:hover {
    text-decoration: none;
    background: #ddd;
    color: #000;
}

/* Content */
#content {
    background: #eee;
    margin: 10px 0;
    padding: 1px 20px 10px 20px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #888;
}

/* General styles */
a {
    color: #800;
    border-bottom: 1px dotted #800;
    text-decoration: none;
}

a:hover {
    color: #800;
    border-bottom: 1px solid #800;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0.5em;
}

fieldset {
    border: 0px;
}

fieldset {
    margin-bottom: 5px;
    padding: 0px;
}

label {
    display: inline-block;
    width: 100px;
}

input, select {
    margin-bottom: 5px;
}
