/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    color: #333333;
}

#header {
    padding-top: 25px;
    height: 50px;
    border-bottom: 1px solid black;
}

#header h1 {
    margin: 0px;
}

#header h1 a:hover {
    text-decoration:none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #555555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}